<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/styles/base.css" />
    <link rel="stylesheet" href="/static/styles/home.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <!-- navbar -->

      <nav>
        <figure class="home__logo">Whiskers</figure>
        <ul class="home__links">
          <li><a href="/shop">Shop</a></li>
          <li>
            <a href="/timer">Timer</a>
          </li>
          <li class="login">
            <a href="/login">Login</a>
          </li>
        </ul>
      </nav>

      <!-- Body -->
      <section class="home__container">
        <div class="home__banner">
          <div class="home__banner__title">
            <h1>
              The App for Humans and
              <span>Cats</span>
            </h1>
          </div>
          <div>
            <img
              src="https://png.pngtree.com/png-vector/20220615/ourmid/pngtree-victor-art-png-image_5047823.png"
              alt=""
            />
          </div>
        </div>
        <div class="home__button">Enter App</div>
      </section>
    </main>
  </body>
</html>
