<!DOCTYPE html>
<html>
    <head>
         <script type="text/javascript">
            var fish = "{{ data.fish }}"
            var name = "{{ data.name }}"
            var hours = "{{ data.hours }}"
            var cycle = "{{ data.cycle }}"
        </script>
        <script type="text/javascript" src="static/whiskers.js"></script>
    </head>
</html>
<body>
  <h1>Number of Fish: <span id="fish"></span></h1>
  <h1>Name: {{data.name}}</h1>
  <h1>Hours worked: {{ data.hours }}</h1>
  <h1>Cycle Number: <span id="cycle"></span></h1>
  <button onclick="addHours()">Add Fish</button>
  <!-- <script src="static/test.js"></script> -->
  <button onclick="startCount()">Start 25 minute Timer</button>
  <button onclick="stopCount()">STOP</button>
  <button onclick="reset()">RESET</button>

  <h1 id="timer">hello</h1>

</body>

</html>
