<!DOCTYPE html>
<html>
    <head>
         <script type="text/javascript">
            var fish = "{{ data.fish }}"
            var name = "{{ data.name }}"
            var hours = "{{ data.hours }}"
            var cycle = "{{ data.cycle }}"
        </script>
        <script type="text/javascript" src="static/whiskers.js"></script>
    </head>
</html>
<body>
  <h1>Be Productive with your Cat :)</h1>
  <h2>Number of Fish: <span id="fish">0</span></h1>
  <h2>Name: {{data.name}}</h2>
  <h2>Hours worked: <span id="hours">0</span></h2>
  <h2>Cycle Number: <span id="cycle">0</span></h2>

  <button onclick="startCount()">START</button>
  <button onclick="stopCount()">STOP</button>
  <button onclick="reset()">RESET</button>

  <h1 id="timer">00:00:00</h1>

</body>

</html>

